.list {
  display: flex;
  width: 100%;
  gap: 24px;
  align-items: flex-start;
  flex-direction: column;

  width: 313px;
  z-index: 15;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
  font-family: Manrope, sans-serif;
}
p,h1,h2,h3,h4,h5,h6{
  font-family: Manrope;
  margin:0;
}
ul, li{
  list-style: none;
  margin:0;
  padding: 0;
}
a{text-decoration: none; margin: 0;}
.listTitle {
  color: #f3f3f3;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 40px;
}

.listItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 14px;
}

.textContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.listItem_image {
  width: 100%;
  height: 100%;

}

.listItem_image_container{
  width: 60%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  overflow: hidden;

}

.listItem_title {
  color: #f3f3f3;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}
.listItem_descrption {
  width: 80%;
  height: 10em;

  flex-shrink: 0;
  overflow: hidden;
  color: rgba(243, 243, 243, 0.5);
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media screen and (min-width: 340px) {
  .list{
    flex-direction: column;
    gap: 28px;
  }
  .textContainer{
    width: 209px;
  }
  .listItem_descrption{
    width: 209px;
    height: 63px;
  }
  .listItem {
    flex-direction: row;
  }
  .listItem_image_container{
    width: 90px;
    height: 90px;
    border-radius: 10px;

  }
}

@media screen and (min-width: 768px) {
  .list{
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .list{
    flex-direction: column;
    gap: 28px;
    width: 100%;
  }
}