.addRecipeForm_container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.addRecipePage {
  display: block;
}

@media screen and (min-width: 768px) {
  .addRecipeForm_section {
    margin-top: 140px;
    margin-bottom: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .addRecipeForm_container {
    margin-top: 160px;
    width: 100%;
    padding: 0 100px;
  }
  .addRecipePage {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    gap: 90px;
    width: 100%;
  }
}
