.title {
    margin-bottom: 20px;

    font-size: 32px;
    font-weight: 600;
    line-height: calc(38 / 32);

    color: #F3F3F3;
}

@media screen and (min-width: 768px) {
    .title {
        margin-bottom: 28px;
    
        font-size: 64px;
        font-weight: 600;
        line-height: calc(68 / 64);
    
        color: #F3F3F3;
    }    
  }
  
  @media screen and (min-width: 1440px) {
    .title {
        margin-bottom: 28px;
    
        font-size: 64px;
        font-weight: 600;
        line-height: calc(68 / 64);
    
        color: #F3F3F3;
    }    
  }
  