.linksStyles {
  color: #f3f3f3;
  justify-content: flex-start;
  display: flex;
  font-family: 'Manrope' sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: calc(22 / 14);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s;
}

.linksStyles:hover,
.linksStyles:focus {
  transform: scale(1.1);
}

.navBarStyles {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  width: 78px;
}
