.recipeDescriptionSection {
  display: flex;
}

.recipeDescriptionFields {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cocktailImg {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.label_img {
  width: 400px;
  height: 400px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  display: block;
  font: 14px/50px Tahoma;
  transition: all 0.18s ease-in-out;
  border: 1px solid #333;
  color: #333;
  background-color: #161f3780;
}

.label_img:hover {
  border: 1px solid #ffffff;
}
