.littleStyles {
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  gap: 14px;
  /* margin-left: auto; */
  /* margin-right: 24px; */
}
@media (max-width: 1440px) {
  .littleStyles {
    margin-left: auto;
    margin-right: 24px;
  }
}

@media (max-width: 768px) {
  .littleStyles {
    margin-right: 14px;
  }
}

.Avatar {
  display: block;
  height: 100%;
  width: 100%;
}

.UserIconContainer {
  width: 44px;
  height: 44px;
  overflow: hidden;
  border-radius: 50%;
}

.userName {
  color: #f3f3f3;
  font-family: "Manrope" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
}
