.logoTextStyles {
  font-family: 'Manrope' sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
  font-weight: 600;
  box-sizing: border-box;
}

.logoBar {
  height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: #f3f3f3;
  text-decoration: none;
  transition: transform 0.1s ease;
}
.logoBar:hover{
  transform: scale(1.03);
}

@media screen and (min-width: 768px) {
  .logoTextStyles {
    font-size: 18px;
    line-height: 22px;
  }

  .logoBar {
    height: 28px;
  }
}
