.title {
    margin-bottom: 20px;

    font-size: 32px;
    font-weight: 600;
    line-height: calc(38 / 32);

    color: #F3F3F3;
    width: 335px;
    text-align: justify;
}

@media screen and (min-width: 768px) {
    .title {   
        margin-bottom: 28px;
 
        font-size: 56px;
        line-height: calc(60 / 56);
        width: 593px;
        text-align: justify;
    }    
  }
  
  @media screen and (min-width: 1440px) {
    .title {
        font-size: 64px;
        line-height: calc(68 / 64);
        width: 700px;
        margin-top: 8px;
        text-align: left;
    }    
  }
  