.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #0a0a11;
  position: relative;
  overflow: hidden;
}

.section_transpatent{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
.spinner {
  width: 300px;
  height: auto;
  mix-blend-mode: lighten;
  animation: 4s pulse ease-out alternate running infinite;
}
.gradient {
  position: absolute;
  top: 5.5em;
  left: 50%;
  width: 257px;
  height: 247px;
  flex-shrink: 0;
  border-radius: 257px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(104.8543701171875px);
  animation: 3s pulse ease-out alternate running infinite ;
  animation-delay: 0;
}
.gradient2 {
  position: absolute;
  left: -80%;
  top: 1.25em;
  width: 520px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 550px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(104.8543701171875px);
  animation: 3s firework ease-out alternate running infinite ;
  animation-delay: 800;
}
.gradient3 {
  display: none;
}
.gradient4 {
  display: none;
}

@media screen and (min-width: 340px) {
  .spinner {
    width: 339px;
  }
  .gradient {
    width: 784px;
    height: 849px;
    border-radius: 849px;
    left: -30.8em;
    top: -40%;
    filter: blur(104.8543701171875px);
  }
  .gradient2 {
    width: 387px;
    height: 381px;
    left: 10.6875em;
    top: -10%;
    flex-shrink: 0;
    border-radius: 387px;
    filter: blur(104.8543701171875px);
  }
  .gradient3 {
    position: absolute;
    display: block;
    top: 28em;
    right: -15em;
    width: 549px;
    height: 543px;
    flex-shrink: 0;
    border-radius: 549px;
    background: rgba(64, 112, 205, 0.5);
    filter: blur(104.8543701171875px);
    animation: 3s firework ease-out alternate running infinite ;
    animation-delay: 1600;
  }
  .gradient4 {
    position: absolute;
    display: block;
    top: 11.5em;
    right: -18em;
    width: 430px;
    height: 465px;
    flex-shrink: 0;
    border-radius: 465px;
    background: rgba(188, 230, 210, 0.4);
    filter: blur(104.8543701171875px);
    animation: 3s pulse ease-out alternate running infinite ;
    animation-delay: 1800;
  }
}


@keyframes pulse {
  0% {
      transform: scale(1);

  }
  100% {
      transform: scale(1.1);

  }
}

@keyframes firework {
  0% {
      transform: scale(1);

  }
  100% {
      transform: scale(1.5);

  }
}