h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
 
  padding: 58px 0 80px 0;
}

@media screen and (min-width: 768px) {
  .container {
 
 
    padding: 112px 0 140px 0;
  }
}

@media screen and (min-width: 1440px) {
  .container {
 
    padding: 132px 0 140px 0;

  }
}
