.noRecipeContainer {
  text-align: center;
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  mix-blend-mode: lighten
}
.noRecipeTitle {
  max-width: 205px;
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  line-height: calc(18 / 14);
  font-weight: 500;
  color: rgba(243, 243, 243, 1);
  @media screen and (min-width: 768px) {
    max-width: 236px;
    margin-top: 18px;
    font-size: 16px;
    line-height: calc(22 / 16);
  }
}

