.recipeIngredients_title {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.recipeIngredients_label {
  display: flex;
}
