.recipeIngredients_title {
  font-family: Manrope;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}

.recipeIngredients_label {
  display: flex;
}

.addIngredients_fields {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.addIngredients_box {
  display: flex;
  margin-bottom: 12px;
}
