.mainTittle {
  color: #f3f3f3;
  font-family: 'Manrope' sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: calc(38 / 32);
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (min-width: 375px) {
  .mainTittle {
    margin-top: 140px;
    margin-bottom: 60px;
    font-size: 56px;
    line-height: calc(60 / 56);
  }
}

@media screen and (min-width: 768px) {
  .mainTittle {
    margin-top: 244px;
    font-size: 64px;
    line-height: calc(68 / 54);
  }
}
