.mainTittle {
  position: relative;
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 32px;
  line-height: calc(38 / 32);
  font-weight: 600;
  color: #f3f3f3;
  z-index: 11;
}

@media screen and (min-width: 375px) {
  .mainTittle {
    margin-top: 140px;
    margin-bottom: 60px;
    font-size: 56px;
    line-height: calc(60 / 56);
  }
}
@media screen and (min-width: 768px) {
  .mainTittle {
    margin-top: 244px;
    font-size: 64px;
    line-height: calc(68 / 54);
  }
}
