.add_btn {
  display: block;
  width: 107px;
  height: 46px;
  padding: 14px 40px 14px 40px;
  border-radius: 42px;

  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  background-color: #f3f3f3;
  color: #161f37;

  @media screen and (min-width: 768px) {
    width: 118px;
    height: 54px;
    padding: 18px 44px 18px 44px;
  }
}
