.mainStyles {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;


  margin: 0 auto;
  box-sizing: border-box;
  background-color: #0a0a11;
  color: #f3f3f3;
  overflow: hidden;
}

.mainFrame {
  margin: 0 auto;
  max-width: 335px;
  padding: 80px 0;
  @media screen and (min-width: 768px) {
    max-width: 704px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1240px;
  }
}
.header {
  width: 100%;
  z-index: 10;
  position: relative;
  border-bottom: 1px solid rgba(243, 243, 243, 0.2);
}
.headerContainer {
  max-width: 335px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    max-width: 704px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1240px;
  }
}
.footer {
  width: 100%;
  border-top: 1px solid rgba(243, 243, 243, 0.2);
  background-color: #0a0a11;
  color: #f3f3f3;
  overflow: hidden;
}
.footerContainer {
  max-width: 335px;
  min-height: 100vh;

  padding-top: 40px;
  padding-bottom: 18px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    max-width: 704px;
    padding-top: 80px;
    padding-bottom: 24px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1240px;
  }
}

.gradient1 {
  position: absolute;
  top: 84px;
  left: 42px;
  width: 257px;
  height: 247px;
  flex-shrink: 0;
  border-radius: 187px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(120px);
  animation: 3s pulse ease-out alternate running infinite;
  animation-delay: 0;
  pointer-events: none;
  z-index: 1;
  @media screen and (min-width: 768px) {
    top: 116px;
    left: 42px;
    width: 387px;
    height: 372px;
  }
  @media screen and (min-width: 1440px) {
    top: 119px;
    left: -25px;
    height: 381px;
  }
}
.gradient2 {
  position: absolute;
  left: -499px;
  top: 20px;
  width: 598px;
  height: 550px;
  flex-shrink: 0;
  border-radius: 750px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(120px);
  animation: 3s firework ease-out alternate running infinite;
  animation-delay: 800;
  pointer-events: none;
  z-index: 1;
  @media screen and (min-width: 768px) {
    left: -623px;
    width: 784px;
    height: 830px;
  }
  @media screen and (min-width: 1440px) {
    left: -690px;
    height: 849px;
  }
}
.gradient3 {
  position: absolute;
  display: block;
  bottom: -470px;
  left: 238px;
  width: 774px;
  height: 762px;
  flex-shrink: 0;
  border-radius: 549px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(120px);
  animation: 3s firework ease-out alternate running infinite;
  animation-delay: 1600;
  pointer-events: none;
  z-index: 1;
  @media screen and (min-width: 768px) {
    bottom: -670px;
    left: 237px;
    width: 774px;
    height: 762px;
  }
}
.gradient4 {
  position: absolute;
  display: block;
  bottom: 80px;
  left: -689px;
  width: 784px;
  height: 849px;
  flex-shrink: 0;
  border-radius: 465px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(120px);
  animation: 3s pulse ease-out alternate running infinite;
  animation-delay: 1800;
  pointer-events: none;
  z-index: 1;
  @media screen and (min-width: 768px) {
    bottom: 120px;
    left: -590px;
    width: 784px;
    height: 849px;

  }
  @media screen and (min-width: 1440px) {
    bottom: 140px;
    left: -690px;
  }
}
.gradient5{
  position: absolute;
  display: block;
  bottom: 100px;
  right: -200px;
  width: 430px;
  height: 465px;
  flex-shrink: 0;
  border-radius: 465px;
  background: rgba(188, 230, 210, 0.4);
  filter: blur(120px);
  animation: 3s pulse ease-out alternate running infinite;
  animation-delay: 2000;
  pointer-events: none;
  z-index: 1;
}
.gradient6{
  position: absolute;
  display: block;
  bottom: -690px;
  right: -200px;
  width: 784px;
  height: 849px;
  flex-shrink: 0;
  border-radius: 465px;
  background: rgba(64, 112, 205, 0.5);
  filter: blur(120px);
  animation: 3s pulse ease-out alternate running infinite;
  animation-delay: 2200;
  pointer-events: none;
  z-index: 1;
}

.spinner {
  width: 339px;
}

.footerUpperContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 80px;
}


@media screen and (min-width: 340px) {
  .spinner {
    width: 339px;
  }
  .gradient {
    width: 784px;
    height: 849px;
    border-radius: 849px;
    left: -30.8em;
    top: -40%;
    filter: blur(104.8543701171875px);
  }
  .gradient2 {
    width: 387px;
    height: 381px;
    left: 10.6875em;
    top: -10%;
    flex-shrink: 0;
    border-radius: 387px;
    filter: blur(104.8543701171875px);
  }
  .gradient3 {
    position: absolute;
    display: block;
    top: 28em;
    right: -15em;
    width: 549px;
    height: 543px;
    flex-shrink: 0;
    border-radius: 549px;
    background: rgba(64, 112, 205, 0.5);
    filter: blur(104.8543701171875px);
    animation: 3s firework ease-out alternate running infinite;
    animation-delay: 1600;
    pointer-events: none;
  }
  .gradient4 {
    position: absolute;
    display: block;
    top: 11.5em;
    right: -18em;
    width: 430px;
    height: 465px;
    flex-shrink: 0;
    border-radius: 465px;
    background: rgba(188, 230, 210, 0.4);
    filter: blur(104.8543701171875px);
    animation: 3s pulse ease-out alternate running infinite;
    animation-delay: 1800;
    pointer-events: none;
  }
  .mainFrame {
    max-width: 335px;
  }

@media screen and (min-width: 768px) {
  .mainFrame {
    max-width: 704px;
    min-height: 100vh;
  }
}



@media screen and (min-width: 1440px) {
  .mainFrame {
    max-width: 1444px;
    min-height: 100vh;
  }
}

.footerUpperContainer {
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.leftSideBar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.links {
  color: #f3f3f380;
  text-decoration: none;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(16 / 12);
  letter-spacing: -0.02em;
  text-align: left;
}

.footerBottomContainer {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  justify-content: space-between;
}

@media screen and (min-width: 340px) {
  .leftSideBar,
  .footerBottomContainer {
    width: 335px;
  }

  .footerBottomContainer {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .footerUpperContainer {
    width: 704px;
    margin-top: 80px;

    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
  }

  .leftSideBar {
    gap: 40px;
    flex-direction: column;
  }

  .links {
    font-size: 14px;
    line-height: calc(18 / 14);
  }

  .footerBottomContainer {
    width: 704px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .footerUpperContainer,
  .footerBottomContainer {
    width: 1240px;
  }

  .leftSideBar {
    gap: 0;
    width: 620px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.rightSide {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-decoration: none;
  justify-content: space-between;
  gap: 20px;
}

