.noDrinksContainer {
  position: absolute;
  top: 220px;
  left: 50%;
  transform: translateX(-50%);
}

.drinkCardContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 28px;
  list-style: none;
  margin-bottom: 40px;
}

.inputDrinks {
  padding: 17px 24px;
  width: 100%;
  color: #f3f3f3;
  background-color: transparent;
  border-radius: 200px;
  border: 1px solid rgba(243, 243, 243, 0.2);
  opacity: 0.8;
  outline: none;
  transition: all 0.2s ease;
}
.inputDrinks:not(:placeholder-shown) {
  border: 1px solid #f3f3f3;
}
.inputDrinks::placeholder {
  color: rgba(243, 243, 243, 0.5);
}

.inputDrinks:focus,
.inputDrinks:hover {
  outline: none;
  color: #f3f3f3;
  border-color: rgba(243, 243, 243, 0.5);
  background-color: transparent;
}

.inputDrinks:focus,
.inputDrinks:hover,
.inputDrinks:active {
  border-color: rgba(243, 243, 243, 0.5);
}

.container {
  margin-top: 80px;
}

@media screen and (min-width: 320px) {
  .inputDrinks {
    padding: 18px 24px;
    width: 100%;
  }
}

.selsctDrinks:focus {
  border-radius: 20px;
}

.selsctDrinks option {
  padding: 18px 24px;
  color: rgba(243, 243, 243, 0.4);
  background-color: #161f37;
  border-radius: 20px;

  border: none;
}

.selsctDrinks::before {
  content: '\25C0';
  position: absolute;
  left: 8px;
}

.drinkRequestForm {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 40px;
}

.drinkCard {
  width: 100%;
}

.mainPageList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
  max-width: 1240px;
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 140px;
  }

  .drinkCardContainer {
    row-gap: 40px;
    margin-bottom: 80px;
  }

  .title {
    margin-bottom: 60px;
    min-width: 678px;
  }
  .inputDrinks {
    width: 264px;

    line-height: 26.52px;

    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 24px;
  }
  .selsctDrinks {
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 24px;
  }
  .drinkRequestForm {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .inputContainer {
    position: relative;
    border: none;
    height: auto;
  }
  .searchSvg {
    position: absolute;
    top: 18px;
    right: 24px;
  }

  .drinkCard {
    width: calc((100% / 2) - 20px);
  }
  .noDrinksContainer{
    top: 130px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-top: 160px;
  }

  .drinkCardContainer {
    column-gap: 20px;
    row-gap: 80px;
  }

  .title {
    margin-bottom: 80px;
    min-width: 1240px;
  }

  .drinkCard {
    width: calc((100% / 3) - 15px);
  }
  .noDrinksContainer{
    top: 250px;
  }
  /* .drinkCardContainer {
    margin-right: -80px;
  } */
}
