.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: contain;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.884);

  justify-content: left;
  padding-left: 64px;

}

.mainContainer {
  width: 335px;
  height: 248px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    width: 470px;
    height: 248px;
    padding: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media screen and (min-width: 1440px) {
    width: 488px;
    height: 248px;
  }
}

.mainContainer__title {
  color: #fafafa;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -0.56px;
  padding-bottom: 14px;

  @media screen and (min-width: 768px) {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -0.8px;
    text-align: left;
  }
}

.mainContainer__text {
  color: #fafafa;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.28px;
  }
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.linkContainer__singup {
  display: block;
  padding: 14px 40px;
  border-radius: 42px;
  border: 1px solid rgba(243, 243, 243, 0.2);
  background: #F3F3F3;
  color: #161F37;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.13;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;



  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.28;
    padding: 18px 44px;
  }
}

.linkContainer__singin {
  display: block;
  padding: 14px 40px;
  border-radius: 42px;
  color: #F3F3F3;
  border: 1px solid rgba(243, 243, 243, 0.2);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;


  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.28;
    padding: 18px 44px;
  }
}