.social_box {
  display: flex;
  gap: 14px;
  margin-top: 28px;
}
/* social icons animation */
.icons {
  box-sizing: content-box;

  border-radius: 10px;
  display: block;
  border: 1px solid rgba(243, 243, 243, 0.2);
  padding: 8px;
display: inline-flex;
align-items: center;
justify-content: center;
 
}
.icons > svg {
  transition: all 200ms ease-out;
  width: 22px;
  height: 22px;
}
.icons:hover > svg {
  scale: 1.2;
}


@media screen and (min-width: 768px) {
  .social_box {
    
    display: flex;
    gap: 16px;
    margin-top: 50px;
  }
  .icons > svg {
    width: 28px;
    height: 28px
  }
}

@media screen and (min-width: 1440px) {
  .social_box {
    margin-top: 50px;
  }
}


