.followUs_title {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  @media screen and (min-width: 768px) {
    font-size: 24px;
  }
}
