.paginatorContainer {
  max-width: 335px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .paginatorContainer {
    max-width: 436px;
  }
}

.pagesList {
  list-style: none;
  display: flex;
  gap: 12px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.button {
  width: 15px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: #0a0a11;
  border-color: transparent;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(64, 112, 205, 0.5);
}
.isActive {
  background-color: rgba(64, 112, 205, 0.5);
}

.buttonIcon {
  width: 20px;
  height: 28px;
  color: rgba(243, 243, 243, 0.3);
}

.pageButton {
  width: 27px;
  height: 27px;
  font-size: 12px;
  line-height: calc(16 / 12);
  font-weight: 500;
  color: rgba(243, 243, 243, 1);
  background-color: transparent;
  border-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.pageButton:hover {
  background-color: rgba(64, 112, 205, 0.5);
}

.dots {
  font-size: 12px;
  align-self: center;
}
